html {
    overflow-y: scroll;
}

body {
	font-family: arial, sans-serif;
	padding-bottom: 0;
}


h1,h2,h3,h4,h5,h6, span {
	font-family: arial, sans-serif;
	padding: 0;
	margin: 0;
}
a:hover {
	background-color:yellow;
	}
	
.ui-loader {
	visibility: hidden;
	}	

#previousPerson:hover, #nextPerson:hover {
	background-color:inherit;
	opacity: 1;
	}